<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite" parallel="methods" thread-count="5">
    <test name="Test">
        <classes>
            <class name="ExploreTest"/>
            <class name="MentionTest"/>
            <class name="LoginTest"/>
            <class name="AssociationsTest"/>
            <class name="SurnameTest"/>
        </classes>
    </test>
</suite>